<configuration>
  <configSections>
    <section name="RedisConfiguration" type="Quaestor.Bot.Redis.RedisConfigurationSection, Quaestor.Bot.Redis, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>
  <RedisConfiguration host="localhost" port="6379"/>

  <appSettings>
    <add key="owin:AutomaticAppStartup" value="false"/>
    <add key="sb:connectionstring" value="Endpoint=sb://quaestor-bot.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=cV0JgKmKz/RWfg/UF8s/kmKVhhdu22zD+y0guL15Aao=" />
    <!--Staging Service Bus Name-->
    <!--<add key="sb:rebuyqueuename" value="syncbuyandrebuy" />
    <add key="sb:firstbuyqueuename" value="syncbuy" />
    <add key="sb:retryqueuename" value="syncretry" />
    <add key="sb:tradeprofitqueue" value="synctradeprofitrate"/>
    <add key="sb:keyupdownqueue" value="syncbuyupdown" />
    <add key="sb:saleimmediately" value="syncsaleimmediately" />-->
    

   
    <!--Dev Service Bus Name-->
    <!--<add key="sb:rebuyqueuename" value="syncrebuy-test" />
    <add key="sb:firstbuyqueuename" value="syncfirstbuy-test" />
    <add key="sb:retryqueuename" value="syncretry-test" />
    <add key="sb:tradeprofitqueue" value="synctradeprofitrate-test"/>
    <add key="sb:keyupdownqueue" value="syncbuyupdown-test" />-->

    <!--Production Service Bus Name-->
    <add key="sb:rebuyqueuename" value="syncrebuys_live" />
    <add key="sb:firstbuyqueuename" value="syncfirstbuy_live" />
    <add key="sb:retryqueuename" value="syncretries_live" />
    <add key="sb:tradeprofitqueue" value="synctradeprofitrate_live"/>
    <add key="sb:keyupdownqueue" value="syncbuystopupdown_live" />
    <add key="sb:saleimmediately" value="syncsaleimmediately_live" />
     <!--Trial Version Expiry--> 
    <add key="TrialExpiryDate" value="2020/10/29" />
  </appSettings>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>

</configuration>
