<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" forwardWindowsAuthToken="false" startupTimeLimit="3600" requestTimeout="23:00:00">
      <environmentVariables />
    </aspNetCore>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <appSettings>
    <add key="sb:connectionstring" value="Endpoint=sb://quaestor-bot.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=cV0JgKmKz/RWfg/UF8s/kmKVhhdu22zD+y0guL15Aao=" />
    <!--Staging Service Bus Name-->
    <!--<add key="sb:rebuyqueuename" value="syncbuyandrebuy" />
    <add key="sb:firstbuyqueuename" value="syncbuy" />
    <add key="sb:retryqueuename" value="syncretry" />
    <add key="sb:tradeprofitqueue" value="synctradeprofitrate" />
    <add key="sb:keyupdownqueue" value="syncbuyupdown" />
    <add key="sb:saleimmediately" value="syncsaleimmediately" />-->
    <!--Dev Service Bus Name-->
    <!--<add key="sb:rebuyqueuename" value="syncrebuy-test" />
    <add key="sb:firstbuyqueuename" value="syncfirstbuy-test" />
    <add key="sb:retryqueuename" value="syncretry-test" />
    <add key="sb:tradeprofitqueue" value="synctradeprofitrate-test" />
    <add key="sb:keyupdownqueue" value="syncbuyupdown-test" />-->


    <!--Production Service Bus Name-->
    <add key="sb:rebuyqueuename" value="syncrebuys_live" />
    <add key="sb:firstbuyqueuename" value="syncfirstbuy_live" />
    <add key="sb:retryqueuename" value="syncretries_live" />
    <add key="sb:tradeprofitqueue" value="synctradeprofitrate_live"/>
    <add key="sb:keyupdownqueue" value="syncbuystopupdown_live" />
    <add key="sb:saleimmediately" value="syncsaleimmediately_live" />
    <add key="TrialExpiryDate" value="2020/10/29" />
  </appSettings>
</configuration>